body {
    margin: 0;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1580757468214-c73f7062a5cb?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8MTYlM0E5fGVufDB8fDB8fHww');
    background-size: cover;
    background-position: center 3em; /* Adjusts the image downward by 10% */
    /* Alternatively, use pixels: background-position: center 50px; */
    background-repeat: no-repeat;
    background-attachment: fixed; 
}